* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before, &::after { box-sizing: inherit; }
}

html, body { height: 100%; }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
