.hero {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $text-shadow: 1px 1px 1px #2a2a5a;
  $hero-image: image-url('hero1.jpg', true);

  @include background(url($hero-image), no-repeat $hero-background-top scroll);
  margin-top: -$base-navigation-height;
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3em;
    text-align: center;
    position: relative;
    top: 50%;
    @include media(max-width $medium-screen) {
      top: 30%;
    }

    .hero-copy {
      text-align: center;
      margin-top: -4%;

      @include media(min-height 400px) {
        margin-top: -10%;
      }

      @include media($medium-screen) {
        margin-top: -10%;
      }

      @include media($large-screen) {
        margin-top: -12%;
      }
      h1 {
        font-size: 2em;
        margin-bottom: 0.2em;
        text-transform: uppercase;
        text-shadow: $text-shadow;

        @include media($large-screen) {
          font-size: 3em;
        }

        @include media($large-screen) {
          font-size: 3.8em;
        }
      }

      p {
        font-size: 1.2em;
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 
        text-shadow: $text-shadow;

        @include media($large-screen) {
          font-size: 1.8em;
        }

        @include media($large-screen) {
          font-size: 2em;
          max-width: 80%;
        }
      }
    }

    button {
      visibility: hidden;
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }
}
