.work-with-us {
  $color: #2980b9;
  background-color: $color;
  padding: 4em 1em;

  article {
    @include outer-container;
    text-align: center;
    h1 {
      color: #fafafa;
      margin-bottom: 10px;
    }

    p {
      color: #fafafa;
      font-size: 1.2em;
    }

    .button {
      margin: 20px auto 10px auto;
      @extend button;
      background-color: lighten($color, 10%);
      &:hover {
        background-color: lighten($color, 18%);
      }
    }
  }
}
