<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Software house especializada no projeto e construção de sistemas web e aplicativos mobile sob-medida.">
    <meta name="keywords" content="desenvolvimento, sistemas, ios, android, windows, chrome, browser, web, rails, ruby, node, js, html, mobile, celular, mac, linux, sustentabilidade, socio-ambiental, socioambiental, personalizado, sob-medida, projeto, software, opensource, open source, aplicativos, apps, app, testes, time, profissionais, programação">

    <!-- Twitter Card -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph -->
    <meta property="og:title" content="tracersoft - web & mobile development">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.tracersoft.com.br/">
    <meta property="og:image" content="http://example.com/image.jpg">
    <meta property="og:description" content="Software house especializada no projeto e construção de sistemas web e aplicativos mobile sob-medida.">

    <!--[if IE]><link rel="shortcut icon" href="<%= image_path('favicon.ico') %>"><![endif]-->
    <link rel="icon" href="<%= image_path('favicon.png') %>" sizes="64x64">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Tracersoft" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "application" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/nav" %>
    <%= yield %>
    <%= partial "partials/footer" %>
    </body>
</html>
