<footer id="footer" class="footer" role="contentinfo">
  <div class="footer-logo">
    <%= image_tag 'logo-minimal.svg', alt: 'Logo' %>
  </div>
  <div class="social-links">
    <% link_to 'https://twitter.com/tracersoft', target: '_blank' do %>
      <%= image_tag 'icon-twitter.svg', alt: 'Twitter' %>
    <% end %>
    <% link_to 'http://github.com/tracersoft', target: '_blank' do %>
      <%= image_tag 'icon-github.svg', alt: 'Github' %>
    <% end %>
  </div>
  <!-- <div class="footer&#45;links"> -->
  <!--   <ul> -->
  <!--     <li><h3>Content</h3></li> -->
  <!--     <li><a href="javascript:void(0)">About</a></li> -->
  <!--     <li><a href="javascript:void(0)">Contact</a></li> -->
  <!--     <li><a href="javascript:void(0)">Products</a></li> -->
  <!--   </ul> -->
  <!--   <ul> -->
  <!--     <li><h3>Follow Us</h3></li> -->
  <!--     <li><a href="javascript:void(0)">Facebook</a></li> -->
  <!--     <li><a href="javascript:void(0)">Twitter</a></li> -->
  <!--     <li><a href="javascript:void(0)">YouTube</a></li> -->
  <!--   </ul> -->
  <!--   <ul> -->
  <!--     <li><h3>Legal</h3></li> -->
  <!--     <li><a href="javascript:void(0)">Terms and Conditions</a></li> -->
  <!--     <li><a href="javascript:void(0)">Privacy Policy</a></li> -->
  <!--   </ul> -->
  <!-- </div> -->

  <hr>

  <p>Site em desenvolvimento. Para mais informações entre em contato com <a href="mailto:contato@tracersoft.com.br">contato@tracersoft.com.br</a></p>
</footer>
