<section class="hero parallax">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Nós somos a tracersoft</h1>
      <p>Um time de profissionais dedicados e apaixonados por tecnologia ajudando grandes organizações a colocarem em prática suas idéias.</p>
    </div>
    <button>Learn More</button>
  </div>
</section>
