<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag "logo.svg", alt: 'Logo' %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="#what-we-do">O que fazemos</a></li>
        <li class="nav-link"><a href="#work-with-us">Estamos contratando</a></li>
        <!-- <li class="nav&#45;link"><a href="javascript:void(0)">Como fazemos</a></li> -->
        <!-- <li class="nav&#45;link"><a href="javascript:void(0)">Quem faz</a></li> -->
        <!-- <li class="nav&#45;link"><a href="javascript:void(0)">Resultados</a></li> -->
        <!-- <li class="nav&#45;link"><a href="#footer">Contato</a></li> -->
        <!-- <li class="nav&#45;link"><a href="javascript:void(0)">Blog</a></li> -->
      </ul>
    </nav>
  </div>
</header>
