<section id="what-we-do" class="what-we-do">
  <div class="web item">
    <%= image_tag 'browser.png', alt: 'Web' %>
    <div class="text">
      <h1>Aplicativos Web</h1>
      <p>Somos muito bons projetando e desenvolvendo sistemas personalizados. Seguimos altos padrões de qualidade para proporcionarmos ótimos resultados.</p>
    </div>
  </div>
  <div class="mobile item">
    <%= image_tag 'mobile.png', alt: 'Mobile' %>
    <div class="text">
      <h1>Aplicativos Mobile</h1>
      <p>Nossa equipe de experts constrói e projeta aplicativos personalizados compatíveis com os principais dispositivos do mercado.</p>
    </div>
  </div>
</section>
